 /* css variables
reset.css
media-queries
data attributes
normalise.css
semantics */


*{
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    width:100%;
    height: 100%;
    margin: 0px;
    font-family: 'Baloo 2', cursive;
}

nav {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     color: white;
     width: 1200px;

}

nav a {
     text-decoration: none;
     color: white;
}

main {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.header-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:cornflowerblue;
    height: 200px ;
    width: 1200px;
    color: white;
    border-radius: 5px;

}

.question-part {
    display: none;
    flex-direction: column;
    align-items: left;
    background-color:#fff;
    height: fit-content;
    width: 1200px;
    color: #000;
    border-radius: 5px;
    padding-bottom: 20px;
}

.header-part > h1 {
    font-size: 32px;
}

.question-part > h1 {
    font-size: 32px;
    margin-left: 20px;
}


#startBtn button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1200px;
    /* width: 100px; */
    height: 100px;
    color: white;
    background-color: teal;
    font-size: 32px;
    border-radius: 5px;
    
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}    

.quiz-start{
    display: none;
}

.choice-line {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: blueviolet;
    min-height: 40px;
    width: max-content;
    padding: 6px 20px 0px 20px;
    margin: 0px 20px 4px 20px;
}

.choice-line:hover {
    background-color: #fff;
}

.choice-line a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.choice-line a:hover {
    color: #000;
}

.answer-part, .results-part {
    display: none;
    flex-direction: row;
    align-items: center;
    background-color:#fff;
    height: fit-content;
    width: 1200px;
    color: #000;
    border-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000;
}

.answer-part > p {
    font-size: 18px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.wrong-answer {
    color: rgb(255, 145, 0);
}

.right-answer {
    color: rgba(0, 110, 255, 0.753);
}


.results-part {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
}

.results-part > p {
    font-size: 18px;
    font-weight: 700;
}

.results-part > p.initials {
    display: flex;
    margin-top: 0px;
}

.results-part > h2 {
   height: 20px;
}

.initials {
    font-size: 14px;
}

.initials-title {
    margin-right: 20px;
}

.score {
    width: 120px;
    padding-left: 20px;
    font-weight: normal;
}