 

:root {
    --violet: blueviolet;
    --white: white;
    --black: black;
}

*{
    box-sizing: border-box;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .results-part > p.initials {
        display: flex;
        margin-top: 0px;
        flex-direction: column;
    }

    #initials-input {
        margin-bottom: 5px;
        height: 37px;
        margin-bottom: 5px;
    }

    .initials button {
        height: 40px;
    }
  }

  /* Body/Main section */
body {
    background-color: cadetblue;
    width:100%;
    height: 100%;
    margin: 0px;
    font-family: 'Baloo 2', cursive;
}

nav {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     color: var(--white);
     width: 60%;

}

nav a {
     text-decoration: none;
     color: var(--white);
}

main {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.header-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:cornflowerblue;
    height: fit-content;
    width: 100%;
    color: var(--white);
    border-radius: 5px;

}

.question-part {
    display: none;
    flex-direction: column;
    align-items: left;
    background-color:var(--white);
    height: fit-content;
    width: 60%;
    color: var(--black);
    border-radius: 5px;
    padding-bottom: 20px;
}

.header-part > h1 {
    font-size: 32px;
    text-align: center;
}

.header-part > p {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.question-part > h1 {
    font-size: 32px;
    margin-left: 20px;
}


.startBtn button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* width: 100px; */
    height: 100px;
    color: var(--white);
    font-size: 32px;
    border-radius: 5px;
    
}

.intro {
    width: 60%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}    

/* Quiz/ choice section */
.quiz-start{
    display: none;
}

.choice-line {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: var(--violet);
    min-height: 40px;
    width: max-content;
    padding: 6px 20px 0px 20px;
    margin: 0px 20px 4px 20px;
}

.choice-line:hover {
    background-color: var(--white);
}

.choice-line a {
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
}

.choice-line a:hover {
    color: var(--black);
}

/* Answer section */
.answer-part, .results-part {
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    height: fit-content;
    width: 60%;
    color: var(--black);
    border-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--black);
}

.answer-part > p {
    font-size: 18px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.wrong-answer {
    color: rgb(255, 145, 0);
}

.right-answer {
    color: rgba(0, 110, 255, 0.753);
}

/* Result part */

.results-part {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
}

.results-part > p {
    font-size: 18px;
    font-weight: 700;
}

.results-part > p.initials {
    display: flex;
    margin-top: 0px;
}

.results-part > h2 {
   height: 20px;
}

/* Entering initial section */
.initials {
    font-size: 14px;
}

.initials-title {
    margin-right: 20px;
}

#initials-input {
    margin-right: 5px;
}

/* Score/Highscore */
.score {
    width: 120px;
    padding-left: 20px;
    font-weight: normal;
}

.high-scores {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 25px 30px 25px;
    height: fit-content;
    background-color: var(--white);
    width: max-content;
    margin-top: 30px;
}

.high-scores > .storage > p {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: var(--violet);
    padding-left: 20px;
    padding-right: 20px;
    color: var(--white);
    margin-bottom: 0px;
}

.high-scores > .storage {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.high-scores-action {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    padding: 15px 15px 15px 25px;
}

.high-scores-action button {
    width: 120px;
    height: 40px;
    margin-right: 12px;
}

.high-scores h1 {    
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
}

button {
    background-color: var(--violet);
    border-radius: 5px;
    color: var(--white);
}

.high-scores > .storage > p > .empty-scores {
    text-align: center;
    width: 100%;
}